@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body
{
   font-family: 'Open Sans',serif;
   font-size: 14px;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
}

.navbar-default .navbar-brand {
    color: #000;
}


section#contact {
    background-color: #f4f4f4;
}
footer#footer{
      background-color: #000;
      opacity: 0.8;
      color: #fff;
}
.copyright{
      padding: 30px;
}

.subscribe {
    margin-bottom: 36px;
}
